*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    padding: 10px 0 0 10px;
}
#root{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1%;
}