@font-face {
    font-family: popins;
    src: url(../font/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: latin;
    src: url(../font/kidie-monster/Kidie\ Monster.ttf);
}
:root .info_container{
    --textcolor: #fff;
}
.info_container{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textcolor);
    font-family: popins;
}
.info_container .created{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.info_container .created span{
    font-family: latin;
    font-size: 45px;
    letter-spacing: 2.5px;
    font-weight: 200;
    margin-left: 10px;
}
.info_container .created img{
    width: 65px;
    height: 65px;
    border-radius: 10px;
    transition: all 0.5s;
}
.info_container .created img:hover{
    transform: rotate(10deg);
    width: 130px;
    height: 130px;
}
.info_container .created a{
    color: var(--textcolor);
    font-size: 22px;
}
.gitpage{
    margin-top: 50px;
    width: 300px;
    height: 50px;
    border: 1px solid var(--textcolor);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: popins;
    color: var(--textcolor);
    gap: 10px;
    text-decoration: none;
}
.moreproject{
    margin-top: 50px;
    color: var(--textcolor);
    word-spacing: 5px;
}


/* for tablet */
@media only screen and (max-width: 1100px){
    .info_container .created{
        flex-wrap: wrap;
    }
    .info_container .created h3{
        width: 100%;
        text-align: center;
    }
    .info_container{
        margin-top: 140px;
    }
    .info_container h1{
        font-size: 40px;
    }
    .info_container .created span{
        font-size: 65px;
    }
    .info_container .created img{
        width: 100px;
        height: 100px;
    }
    .info_container .created img:hover{
        width: 170px;
        height: 170px;
    }
    .info_container .created a{
        font-size: 32px;
        width: 47%;
        text-align: right;
        padding-inline: 10px;
    }
    .info_container .created a:last-child{
        text-align: left !important;
    }
    .gitpage{
        margin-top: 50px;
        width: 400px;
        height: 60px;
        font-size: 20px;
        gap: 15px;
    }
    .moreproject{
        font-size: 25px;
    }
}