:root .search_container{
    --backcolor: #101214;
    --textcolor: #fff;
}
.search_container{
    height: 100%;
    width: 70%;
    margin-inline: auto;
}
.search_container .top{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_container .top input{
    width: 70%;
    height: 45px;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 10px;background-color: var(--backcolor);
    color: var(--textcolor);
}
.top input::placeholder{
    color: #bdbdbd;
}
.search_container .bottom{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}